@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  letter-spacing: 0.3px;
  font-family: 'Lexend', sans-serif;
}
